
:root {
    color-scheme: light dark;
}


/* || default mode */

body {
    color: #222;
    background: #fff;
}

a {
    color: #0044cc;
}

/* || dark mode */

body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme a {
    color: #809fff;
}